{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Anonymous Group Chat</title>
		<meta charset="utf-8" />
<meta author="amr elsayed" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Join Private Group Chat Now!</h1>
								<p>Join a private group chat with your name and after you close the chat everything will be erased<br />
								The Back-End for this chat By <a href="https://www.facebook.com/amr.elsayed.73999">Amr Elsayed</a> OR <a href="https://github.com/AmrElsayedEG/">GitHub.</a></p>
							</div>
						</div>
						<nav>
							<ul>
								
								<li><a href="#create">Create Group Chat</a></li>
								<li><a href="#join">Join Group Chat</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						
						<!-- Join Chat -->
							<article id="join">
								<h2 class="major">Join Chat</h2>
								<form method="POST" onsubmit="addName();">
									{% csrf_token %}
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="user-name" required/>
										</div>
										<div class="field half">
											<label for="group">Group Chat Name</label>
											<select class="js-example-basic-single" name="join_room" required>
												<option selected disabled>Select Group Chat</option>
												{% for room in rooms %}
												<option value="{{room.id}}">{{room.name}}</option>
												{% endfor %}
											  </select>
										</div>
										
									</div>

									
									<button type="submit" class="primary">Join Now!</button>
								</form>
								
							</article>

						<!-- Create Chat-->
							<article id="create" onsubmit="addName();">
								<h2 class="major">Create New Room</h2>
								{{form.errors.name}}
								<form method="POST">
									{% csrf_token %}
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="user-name" required/>
										</div>
										<div class="field half">
											<label for="email">Group Chat Name</label>
											<input type="text" name="create_room" id="room-name-input" required/>
										</div>
										
									</div>
									<button type="submit" class="primary">Create Room Now!</button>
								</form>
								</form>
								
							</article>
							

								


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy;<a href="https://github.com/AmrElsayedEG/">Amr Elsayed</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			
			<script>
        function addName(){
			var userName = document.querySelector('#user-name').value;
			localStorage.setItem("userName",userName);
		}
    </script>

	</body>
</html>
