{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Anonymous Group Chat</title>
		<meta charset="utf-8" />
<meta author="amr elsayed" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Join Private Group Chat Now!</h1>
								<p>Join a private group chat with your name and after you close the chat everything will be erased<br />
								The Back-End for this chat By <a href="https://www.facebook.com/amr.elsayed.73999">Amr Elsayed</a> OR <a href="https://github.com/AmrElsayedEG/">GitHub.</a></p>
							</div>
						</div>
						<nav>
							<ul>
								
								<li><a href="#chat">Join Group Chat</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						
						<!-- Chat -->
							<article id="chat">
								<h2 class="major">Join Chat</h2>
								<form>
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="user-name" required/>
										</div>
										<div class="field half">
											<label for="email">Group Chat Name</label>
											<input type="text" name="email" id="room-name-input" required/>
										</div>
										
									</div>
									<ul class="actions">
										<li><input id="room-name-submit" type="button" value="Join Now!" class="primary" /></li>
									</ul>
								</form>
								
							</article>

						<!-- Elements -->
							

								


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy;<a href="https://github.com/AmrElsayedEG/">Amr Elsayed</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
<script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
	var userName = document.querySelector('#user-name').value;
	localStorage.setItem("userName",userName);
            window.location.pathname = '/chat/' + roomName +  '/';
        };
    </script>
	</body>
</html>
